<div class="product-details-container">
  <div class="product-details" *ngIf="product">
    <img
      [src]="'data:image/jpeg;base64,' + product.image"
      alt="{{ product.name }}"
    />
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>{{ product.price | currency }}</p>
  </div>
  <div class="seller-details">
    <div class="seller-info">
      <h3>{{ seller.name }}</h3>
      <p>{{ seller.phone }}</p>
      <p>{{ seller.city }}</p>
    </div>
    <div class="seller-review">
      <h2>review</h2>
    </div>
  </div>
</div>
