.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details {
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
