.table {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

img {
  width: 200px;
  height: 200px;
}
